* {
    margin: 0px;
    padding: 0px;
}

body {
    text-align: center;
    background-color: #175676;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    font-size: 8vmin;
    color: #d62839;
    background-color: #4ba3c3;
}

#reset_btn {
    padding: 1.5rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    color: #cce6f4;
    background-color: #ba324f;
}

#new-game {
    padding: 1.5rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    color: #cce6f4;
    background-color: #ba324f;
}

#msg {
    font-size: 6vmin;
    color: #cce6f4;
}

.msgCont {
    height: 80vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hide {
    display: none;
}